@charset "utf-8";
#Name{
	height: 34px;
	color: #FFFFFF;
	letter-spacing: 0.1em;
	text-align: center;
	font-size: 100%;
	line-height: 34px;


	*line-height: 35px;
	margin-bottom: 1px;
	width: 189px;
	background-color: #990000;
}
#Menu{
	height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: #333333;
}
#Menu ul{margin:0;padding:0}
#Menu li{
	width: 189px;
	list-style-type: none;
	padding-top: 6px;
	margin-top: 1px;
	background: url(../images/BgLeftMenu.gif) repeat-y 0 0;
	height:auto;
	float:left;
}
#Menu p{margin:0;padding:0}
#Menu .m1{
	float:left;
	background: url(../images/menuicon02.png) no-repeat 5px 8px;
	height: 22px;
	width: 158px;
	padding-left: 30px;
	padding-top: 8px;
	margin:0px;
	cursor: hand;
	color:#333333;
	font-size:105%;
	font-weight: bold;
}
#Menu .m2{
	float:left;
	background-image: url(../images/menuicon01.png);
	background-repeat: no-repeat;
	width: 158px;
	padding-left: 30px;
	padding-top: 7px;
	background-position: 5px 5px;
	background-color: #990000;
	height: 23px;
	color:#fff;
	cursor: hand;
	font-size:105%;
}
#Menu .u1{
	float:left;
	height: 20px;
	width: 158px;
	padding-left: 35px;
	padding-top: 5px;
	margin:0px;
	cursor: hand;
	background-image: url(../images/menuicon03.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	color:#333333;
	font-size: 90%;
}
#Menu .u2{
	background-color:#CC6666;
	float:left;
	height: 20px;
	width: 158px;
	padding-left: 35px;
	padding-top: 5px;
	margin:0px;
	cursor: hand;
	background-image: url(../images/menuicon03.png);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	color:#FFFFFF;
	font-size: 90%;
}
