<html>
<head>
<meta http-equiv="Content-Language" content="zh-tw">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>註冊確認</title>
<meta name="keywords" content="E-mail註冊確認">
<meta name="description" content="註冊確認頁">
<meta name="robots" content="noindex"/>
<link rel="shortcut icon" href="images/favicon.ico" type="images/x-icon">
<style type="text/css">
<!--
p {
	text-indent: 100px;
}
-->
</style>
<!--加 google 分析-->

<script type="text/javascript">

<{if $message!= ""}>
	alert("<{$message}>");
<{/if}>

</script>
</head>

<body topmargin="0" bgcolor="#F6F3EA">

<div align="center">

	<table border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" id="table2" width="160">
		<tr>
			<td>
	<table border="1" cellpadding="0" id="table3" width="969" height="616" style="border-collapse: collapse" bordercolorlight="#C0C0C0">


		<tr>
			<td height="208" align="left" valign="top">
			<br />
			
			<{$descpage}>
			
　</td>

		</tr>
		</table>
			</td>
		</tr>
	</table>
	</div>

<p style="margin-top: 9px; margin-bottom: 9px" align="center">
	　</p>

<script type="text/javascript" src="http://tw.js.webmaster.yahoo.com/418138/ystat.js"></script><noscript><a href="http://tw.webmaster.yahoo.com"><img src=http://tw.img.webmaster.yahoo.com/418138/ystats.gif></a></noscript>
</body>

</html>
